<div class="search-content" ng-controller="ListSearchResultsCtrl">
	<div class="card image-results">
		<span>Images for {{main.searchInput}}</span>
		<br>
			<img src="{{image.src}}" alt="{{image.alt}}" ng-repeat="image in results[0]['search-results-images']">
	</div>
	<div class="card link-results">
		<div class="results-results" ng-repeat="result in results[0]['search-results']">
			<span class="link-name">
				{{result.name}}
			</span>
			<br>
			<span class="link-url">
				{{result.url}}
			</span>
			<br>
			<span class="link-description">
				{{result.description}}
			</span>
		</div>
	</div>

	<div class="search-footer">
		
	</div>
</div>
